* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -------------------------
          LAYOUT
------------------------- */
.container {
  *zoom: 1;
  max-width: 52.5em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.logo {
  margin: 2.5em 0 0 0; }

.slogan {
  margin-top: 0; }

.about {
  *zoom: 1;
  display: block; }
  .about:before, .about:after {
    content: " ";
    display: table; }
  .about:after {
    clear: both; }

.about img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .about img:last-child {
    margin-right: 0; }

.about p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 8.5298%;
  margin-right: 0;
  margin-top: 3.75em; }
  .about p:last-child {
    margin-right: 0; }

.pizzas, .pasta, .drinks {
  *zoom: 1;
  display: block; }
  .pizzas:before, .pizzas:after, .pasta:before, .pasta:after, .drinks:before, .drinks:after {
    content: " ";
    display: table; }
  .pizzas:after, .pasta:after, .drinks:after {
    clear: both; }

.pizzas article, .pasta article, .drinks article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .pizzas article:last-child, .pasta article:last-child, .drinks article:last-child {
    margin-right: 0; }
  .pizzas article:nth-child(3n), .pasta article:nth-child(3n), .drinks article:nth-child(3n) {
    margin-right: 0; }
  .pizzas article:nth-child(3n+1), .pasta article:nth-child(3n+1), .drinks article:nth-child(3n+1) {
    clear: left; }

.pizzas article, .pasta article {
  height: 11.875em; }

.drinks article {
  height: 6.25em; }

.food-name {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 73.14426%; }
  .food-name:last-child {
    margin-right: 0; }

.price {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 19.43277%;
  margin-right: 0; }
  .price:last-child {
    margin-right: 0; }

.description {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  width: 100%;
  margin-top: 0px; }
  .description:last-child {
    margin-right: 0; }

footer {
  *zoom: 1;
  display: block;
  margin: 5em auto 1.25em;
  padding-top: 0.625em;
  border-top: 2px solid #7d6a66; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }

/* -------------------------
        TYPOGRAPHY
------------------------- */
body {
  font-family: 'Helvetica Neue', Verdana, sans-serif;
  font-size: 1em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.125em; }

.slogan {
  font-style: italic;
  font-size: 0.75em; }

.about p {
  line-height: 2em;
  text-align: justify; }

.menu-header {
  font-size: 3em;
  /*font-family: 'Trochut', serif;*/
  text-align: center; }

.speciality-header {
  padding-left: 0.625em; }

article h1 {
  font-size: 1.125em; }

article h2 {
  font-size: 1.125em; }

article {
  padding: 0.625em;
  margin-bottom: 0.9375em; }

.price {
  text-align: right; }

.description {
  font-style: italic;
  line-height: 1.3em; }

footer {
  text-align: center; }

/* -------------------------
        DECORATION
------------------------- */
body {
  background: #ffe9ae;
  color: #270700; }

.menu-header {
  background: #3c2c0a;
  color: #eeeeee; }

.speciality-header {
  background: #c06605;
  color: #eeeeee; }

.pasta header {
  background: #3c2c0a; }

article {
  background: #f2dda5; }

main article:nth-child(2n+2) {
  background: #d8c693; }

.food-name {
  border-bottom: 1px solid #7d6a66; }

.price {
  color: #523833; }

.description {
  color: #7d6a66; }

footer {
  color: #7d6a66; }
