@import 'vendor/bourbon/bourbon';
@import 'grid-settings';
@import 'vendor/neat/neat';

$black: #270700;
$white: #EEE;
$back-color: #ffe9ae;
$maincolor: #c06605;
$secondcolor: #3c2c0a;

/* -------------------------
          LAYOUT
------------------------- */
.container {
    @include outer-container
}

.logo {
    margin: em(40) 0 0 0;
}

.slogan {
    margin-top: 0;
}

.about {
    @include row;
}

.about img {
    @include span-columns(4)
}

.about p{
    @include span-columns(6);
    @include shift(1);
    @include omega;
    margin-top: em(60);
}

.pizzas, .pasta, .drinks {
    @include row;
}

.pizzas article, .pasta article, .drinks article {
    @include span-columns(4);
    @include omega(3n);    
}

.pizzas article, .pasta article {
    height: em(190);
}

.drinks article {
    height: em(100);
}

.food-name {
    @include span-columns(3 of 4);
}

.price {
    @include span-columns(1 of 4);
    @include omega;
    }

.description {
    @include span-columns(4);
    @include fill-parent;
    margin-top: 0px;
}

footer {
    @include row;
    margin: em(80) auto em(20);
    padding-top: em(10);
    border-top: 2px solid tint($black, 40);
}

/* -------------------------
        TYPOGRAPHY
------------------------- */
body {
    font-family: 'Helvetica Neue', Verdana, sans-serif;
    font-size: em(16);
}

h1 {
    font-size: em(32);
}

h2 {
    font-size: em(24);
}

h3 {
    font-size: em(18)
}

.slogan {
    font-style: italic;
    font-size: em(12);
}

.about p {
    line-height: em(32);
    text-align: justify;
}

.menu-header {
    font-size: em(48); 
    /*font-family: 'Trochut', serif;*/
    text-align: center;
}

.speciality-header {
    padding-left: em(10);
}

article h1 {
    font-size: em(18);
}

article h2 {
    font-size: em(18);
}

article {
    padding: em(10);
    margin-bottom: em(15);
}

.price {
  text-align: right;
}

.description {
    font-style: italic;
    line-height: 1.3em;
    }

footer {
    text-align: center;
}

/* -------------------------
        DECORATION
------------------------- */
body {
    background: $back-color;
    color: $black;
}

.menu-header {
    background: $secondcolor;
    color: $white;
}

.speciality-header {
    background: $maincolor;
    color: $white;
}

.pasta header {
    background: $secondcolor;
}
article {
    background: shade($back-color, 5);
}

main article:nth-child(2n+2) {
    background: shade($back-color, 15);
}

.food-name {
   border-bottom: 1px solid tint($black, 40);
}

.price {
    color: tint($black, 20);
}

.description {
    color: tint($black, 40);
}

footer {
    color: tint($black, 40);
}

